<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChAT 2.0</title>
    <link rel="stylesheet" href="styles/salas.css">
</head>

<body>
    <h1> Salas </h1>

    <h3>Selecciona alguna sala</h3>
    <ul>

        <!-- Lista de salas-->
        <li><a href="/chat/1">Sala 1 </a></li>
        <li><a href="/chat/2">Sala 2</a></li>
        <li><a href="/chat/3">Sala 3</a></li>
        <li><a href="/chat/4">Sala 4</a></li>
    </ul>
</body>

</html>