body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    width: 300px;
}

li {
    margin-bottom: 10px;
}

a {
    display: block;
    padding: 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.3s;
    font-weight: bold;
}

a:hover {
    background-color: #0056b3;
}

a:active {
    background-color: #003f7f;
}


.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modal-content input {
    padding: 8px;
    margin-top: 10px;
    width: 80%;
}

.modal-button {
    margin-top: 15px;
    width: 100px;
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-logOut {
    margin-top: 20px;
    /* Espacio superior para separar del contenido */
    text-align: center;
    /* Centrar el botón */
}

.button-logOut {
    margin-top: 20px;
    text-align: center;
}

.logOut {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.logOut:hover {
    background-color: #c82333;
}

.logOut:active {
    background-color: #bd2130;
}